<div class="team-container">
  <div class="team-details">
    <div class="heading">
      <h2><%= @team.name %></h2>
      <p>(<%= "#{get_wins(@team, Game.last)}-#{get_losses(@team, Game.last)}" %>)</p>
    </div>

    <h3>Roster</h3>
    <ol>
      <% @players.each do |p| %>
        <li><%= " [#{("%03i" % p.id)}] #{p.last_name}, #{p.first_name}" %></li>
      <% end %>
    </ol>
  </div>
</div>