<div class="team-container">
  <div class="team-details">
    <div class="heading">
      <h2><%= @team.name %></h2>
      <% record = team_wins_losses(@team, Date.today) %>
      <p>(<%= "#{record[0]}-#{record[1]}" %>)</p>
    </div>

    <h3>Roster</h3>
    <ol>
      <% @players.each do |p| %>
        <li><%= " [#{("%03i" % p.id)}] #{p.last_name}, #{p.first_name}" %></li>
      <% end %>
    </ol>
  </div>
</div>