<div style="padding-top: 75px">
  <p>AVG: <%= ("%.3f" % HittingCardStat.average(:avg)).sub(/^0/, "") %></p>
  <p>SLG: <%= ("%.3f" % HittingCardStat.average(:slg)).sub(/^0/, "") %></p>
  <p>OBP: <%= ("%.3f" % HittingCardStat.average(:obp)).sub(/^0/, "") %></p>
</div>