.wrapper {
  background: #777;
  min-height: 100vh;
  padding-top: 100px;
}

.game-container {
  background: #fffdfb;
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  text-align: center;
  width: 90vw;
}

.team-title {
  color: #333;
  flex: 1 1 25%;
  h3 {
    font-weight: 200;
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    &:hover {
      color: #777;
    }
  }
  p {
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
  }
}

.game-overview {
  color: #575859;
  flex: 1 1 50%;
  h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 4px;
  }
}

.inning-detail {
  border-collapse: collapse;
  color: #333;
  font-size: 0.8em;
  font-weight: 400;
  margin: 16px auto 0 auto;
  thead {
    background: #f0f0f0;
    font-size: 0.75em;
  }
  th {
    font-weight: 400;
    height: 20px;
    padding: 4px;
    width: 20px;
  }
  td {
    height: 20px;
    padding: 4px;
    width: 20px;
  }
  .totals {
    font-weight: 500;
  }
  .team-name {
    font-weight: 500;
    text-align: left;
    width: 60px;
  }
  tbody {
    background: #f7f7f7;
  }
  .pitchers {
    color: #333;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    span {
      display: inline-block;
      margin-right: 12px;
    }
  }
}

.game-loc {
  font-size: 0.8em;
  text-transform: uppercase;
}

.batting-info, .pitching-info, .big-plays, .rest {
  color: #333;
  flex: 1 1 50%;
}

.big-plays {
  text-align: left;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 50px;
}

.play-details {
  padding-left: 12px;
}
.batting-stats, .pitching-stats, .play-details {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  font-size: 0.8em;
  .two, .four, .six, .eight, .ten, .twelve, .fourteen, .sixteen, .eighteen, .twenty, .twenty-two, .twenty-four {
    background: #eee;
  }
  thead {
    color: #fffdfb;
    text-transform: uppercase;
  }
  th, td {
    padding: 6px;
  }
  .name {
    text-align: left;
  }
  .totals {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: 500;
    td {
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }
  .order {
    color: #777;
    font-weight: 500;
    margin-right: 4px;
  }
  .pos {
    font-size: 0.75em;
    font-style: italic;
    margin-left: 4px;
  }
  .sub {
    padding-left: 28px;
  }
}

.sou-table {
  thead {
    background: #ff7400;
  }
}
.eur-table {
  thead {
    background: #ba131a;
  }
}
.afr-table {
  thead {
    background: #003d73;
  }
}
.oce-table {
  thead {
    background: #7da7d8;
    color: #333;
  }
}
.nor-table {
  thead {
    background: #fff200;
    color: #333;
  }
}
.asi-table {
  thead {
    background-color: #407927;
  }
}

.starting-pitcher {
  color: #444;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.pitcher-record, .pitcher-stats {
  margin: 0;
  marrgin-top: 4px;
}

.rest {
  text-align: left;
  padding-bottom: 50px;
}

.resting {
  margin: 0 auto;
  margin-top: -34px;
  width: 90%;
  p {
    padding: 0;
    margin: 6px;
  }
}